$playButtonSize: 110px;

@media(max-width: 768px) {
    .back {     
        width: calc($playButtonSize - 20px)!important;
        height: calc($playButtonSize - 20px)!important;
    }
    .aha__play-card {        
        width: calc($playButtonSize - 20px)!important;
        height: calc($playButtonSize - 20px)!important;
    }
}

@keyframes memorymatch {
    20% {
        transform: scale(1.15);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes luckymatch {
    40% {
        transform: scale(1.15);
    }
    80% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes nomatch {
    10% {
        transform: rotate(13deg);
    }
    20% {
        transform: rotate(-13deg);
    }
    30% {
        transform: rotate(11deg);
    }
    40% {
        transform: rotate(-11deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(8deg);
    }
    80% {
        transform: rotate(-8deg);
    }
    95% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.aha__play-card {
    position: relative;
    width: $playButtonSize;
    height: $playButtonSize;
    display: block;
    border-radius: 6px;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 0.6s;
    transition-duration: 0.3s;

    &.disabled {
        pointer-events: none;
        opacity: 0;
    }

    &.nomatch {
        animation-duration: 0.7s;
        animation-name: nomatch;
        animation-iteration-count: 1;
    }

    &.lucky {
        animation-duration: 0.55s;
        animation-name: luckymatch;
        animation-iteration-count: 1;
        pointer-events: none;
        opacity: 0;
    }

    &.memory {
        animation-duration: 0.8s;
        animation-name: memorymatch;
        animation-iteration-count: 1;
        pointer-events: none;
        opacity: 0;
    }

    &.turned {
        pointer-events: none;
    }

    .front {
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        position: absolute;
        width: $playButtonSize;
        height: $playButtonSize;
    }

    .back {
        background-color: $gray;
        width: $playButtonSize;
        height: $playButtonSize;
        border-radius: .5rem;

        &.seen {
            background-color: $pink !important;
        }
    }
    
}
