$playButtonSize: 120px;
$playIconSize: 30px;

.aha__play-button {
    transition: background-color 0.3s ease-out, filter 0.3s ease-out;
    outline: none;
    width: $playButtonSize;
    height: $playButtonSize;
    border-radius: $playButtonSize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;

    &.disabled{
        filter: grayscale(100%);
        pointer-events: none;
        opacity: 0.5;
    }

    &::before {
        content: "";
        transition: border 0.1s ease-out, margin 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out;
        width: 0;
        height: 0;
        margin-left: $playIconSize * 0.33;
        border-right: 0 solid transparent;
        border-top: $playIconSize * 0.66 solid transparent;
        border-bottom: $playIconSize * 0.66 solid transparent;
        border-left: $playIconSize solid white;
    }

    &.blocked{
        &::before {
            margin-left: 0;
            width:  $playIconSize * 1.3;
            height:  $playIconSize * 1.3;
            border-radius: 20px;
            border: 6px solid rgba(white, 0.5) !important;
        }
    }

    &.stop {
        &::before {
            margin-left: 0;
            border-left: $playIconSize * 1.14 solid white;
            border-top: $playIconSize * 0.57 solid white;
            border-bottom: $playIconSize * 0.57 solid white;
        }
    }
}

.playbutton-spacer {
    height: 87px; // Difference in height between PlayButton and Preload
}
