h2.title,
h3.title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: left;

  &:after {
    content: "";
    position: absolute;
    background-color: $primary;
    bottom: -5px;
    left: -31px;
    width: 100px;
    height: 5px;
  }
}

.btn-lg {
  font-size: 1.3em;
}

// @mixin btn-style($color) {
//     background-color: $color;
//     color: white;

//     &:hover:not(.disabled):not(:disabled) {
//         background-color: darken($color, 10%);
//         color: white;
//     }

//     &:focus, &.checked {
//         box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
//     }

//     &.border-outside {
//         box-shadow: 0 0 0 0.2em rgba($color, 0.5);
//     }
// }

// .btn-pink {
//     @include btn-style($pink);
// }

// .btn-teal,
// .btn-positive {
//     @include btn-style($teal);
// }

// .btn-red,
// .btn-negative {
//     @include btn-style($red);
// }
// .btn-yellow {
//     @include btn-style($yellow);
// }

// .btn-blue {
//     @include btn-style($blue);
// }

// .btn-indigo {
//     @include btn-style($indigo);
// }

// .btn-download,
// .btn-gray {
//     @include btn-style($gray);
// }
