.aha__histogram {
    display: flex;
    aspect-ratio: 1/1;
    transform: scaleY(-1);
    margin-top: -10px;

    div {
        border-radius: 1.5px;
        background: white;
        transition: height 1s ease-out;
    }

    &.active {
        div {
            transition: height 0.3s ease-out;
        }
    }
}
