.aha__histogram {
    display: flex;
    aspect-ratio: 1/1;
    transform: scaleY(-1);
    margin-top: -10px;

    background: linear-gradient(70deg, #FFB14C -50%, #D843E2 100%);
    padding: 15%;
    color: #fff;

    div {
        border-radius: 10em;
        background: white;
        transition: height 1s ease-out;
        flex-grow: 1;
    }

    &.active {
        div {
            transition: height 0.3s ease-out;
        }
    }
}
