.aha__histogram {
    display: flex;
    aspect-ratio: 1/1;
    align-items: flex-end;
    padding: 10px;

    .aha__histogram-bar {
        border-radius: 1.5px;
    }


    &.active {
        div {
            transition: height 0.3s ease-out;
        }
    }
}
