.env
.vscode/*
!.vscode/extensions.json
.DS_Store

node_modules/
yarn-error.log*
yarn.lock

tests/*.ini
tests/*.log
tests/__pycache__

e2e/screenshots
e2e/tests/__pycache__

temp/

docs-pages-build/

.devcontainer/