[flake8]
# Flake8 Configuration File

# High Priority: Security and Correctness
# These issues are critical and should be addressed first.
extend-ignore =
    E713, # Test for membership should be 'not in'
    E722, # Do not use bare 'except'
    F722, # Syntax error identified by pyflakes
    F821, # Undefined name
    E266, # Too many leading '#' for block comment

# Medium Priority: Code Maintainability and Readability
# Improving these can greatly enhance code readability and maintainability.
    E101, # Indentation contains mixed spaces and tabs
    E501, # Line too long
    E303, # Too many blank lines
    F401, # Unused import
    F403, # 'from module import *' used; unable to detect undefined names
    F405, # Name may be undefined, or defined from star imports
    F811, # Redefinition of unused name from line N
    F841, # Local variable name is assigned to but never used
    E302, # Expected 2 blank lines, found 1
    E305, # Expected 2 blank lines after class or function definition, found 1
    E402, # Module level import not at top of file

# Low Priority: Style Guide Adherence
# These are mostly about whitespace and indentation, which can be adjusted later.
    E201, # Whitespace after '('
    E202, # Whitespace before ')'
    E203, # Whitespace before ':'
    E222, # Multiple spaces after operator
    E225, # Missing whitespace around operator
    E231, # Missing whitespace after ','
    E251, # Unexpected spaces around keyword / parameter equals
    E262, # Inline comment should start with '# '
    E122, # Continuation line missing indentation or outdented
    E124, # Closing bracket does not match visual indentation
    E125, # Continuation line with same indent as next logical line
    E127, # Continuation line over-indented for visual indent
    E128, # Continuation line under-indented for visual indent
    E131, # Continuation line unaligned for hanging indent
    E261, # At least two spaces before inline comment
    W191, # Indentation contains tabs
    W291, # Trailing whitespace
    W292, # No newline at end of file
    W293, # Blank line contains whitespace
    W391, # Blank line at end of file
    W503, # Line break occurred before a binary operator

# General Configuration
max-line-length = 120
exclude = .venv, .git, __pycache__, build, dist
