.matchingPairs {
  height: 100vh;

  // Center vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mpHeader {
  flex-grow: 0;
  text-align: center;
}

.mpMain {
  flex-grow: 1;
}
