{% extends "admin/base_site.html" %} {% load inline_action_tags %} {% block content %}
<style>
    table {
        width: 100%;
    }

    td {
        padding: 8px 2px;
    }
    p.form-filename {
        max-width: 200px;
        word-wrap: break-word;
    }
    .song-padding {
        height: 2rem;
    }
    .song-help {
        position: absolute;
        overflow-x:visible;
        color: var(--body-quiet-color);
        margin-left: 2.5rem;
        font-size: 12px;
    }
    #back-button {
        float: right;
    }
    #update-button {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 24em;
        font-weight: 400;
        background: var(--default-button-bg);
    }
</style>
<h1>Edit sections for playlist: {{playlist.name}}</h1>
<form action="" method="post">
    {% csrf_token %}{% render_inline_action_fields %}
    <table>
        <tr>
            <th>Code</th>
            <th>Filename</th>
            <th>Artist</th>
            <th>Name</th>
            <th>Start-time</th>
            <th>Duration</th>
            <th>Tag</th>
            <th>Group</th>
        </tr>
        {% for section in sections %}
        <tr {% if not section.song %} class="song-padding" {% endif %}>
            <td>
                <p>{{section.code}}</p>
            </td>
            <td>
                <p class="form-filename" title="{{section.filename}}">{{section.filename}}</p>
            </td>
            <td>
                <input type="text" name="{{section.id}}_artist" maxlength="128" id="{{section.id}}_artist"
                    value="{{ section.artist_name}}" placeholder="*">
            </td>
            <td>
                <input type="text" name="{{section.id}}_name" maxlength="128" id="{{section.id}}_name"
                    value="{{ section.song_name}}" placeholder="*">
            </td>
            <td>
                <input type="number" step="0.001" name="{{section.id}}_start_time" maxlength="128" required=""
                    id="{{section.id}}_start_time" value="{{ section.start_time|stringformat:"f" }}">
            </td>
            <td>
                <input type="number" step="0.001" name="{{section.id}}_duration" maxlength="128" required=""
                    id="{{section.id}}_duration" value="{{ section.duration|stringformat:"f" }}">
            </td>
            <td>
                <input type="text" name="{{section.id}}_tag" maxlength="128" id="{{section.id}}_tag"
                    value="{{ section.tag}}">
            </td>
            <td>
                <input type="text" name="{{section.id}}_group" maxlength="128" id="{{section.id}}_group"
                    value="{{ section.group}}">
            </td>
        </tr>
        {% endfor %}
        <tr class="song-padding">
            <td></td>
            <td></td>
            <td><div class="song-help">* Fill out the artist and name fields to create a new song object</div></td>
        </tr>
    </table>
    <input type="submit" name="_update" value="Update sections" id="update-button" />
</form>
<form>
    <input type="submit" name="_back" value="Go back" id="back-button" />
</form>
{% endblock %}
