// @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import "../../scss/variables.scss";

.mcg {
    .aha__matching-pairs {
        height: 100vh;

        // Center vertically
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .mp-container {
            .mp-header {
                flex-grow: 0;
                text-align: center;
            }

            .mp-main {
                flex-grow: 1;
            }
        }
    }
}

// Landscape
@media (min-aspect-ratio: 1/1),
    screen and (min-width: $breakpoint-md) {
    .mcg {
        .mp-container {
            display: flex;
            flex-direction: row;
            
            .mp-header {
                flex-basis: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 1em;
            }

            .mp-main {
                position: relative;
                flex-grow: 0;
                // max-width: 80vw;
            }

            .timeline-container {
                width: 85vh;
                max-width: 85vh;
            }

            .mcg-playing-board {
                max-height: 85vh;
            }
        }
    }
}

// Portrait
@media (max-aspect-ratio: 1/1) {
    .mp-container {
        flex-direction: column;
        .mp-header {
            padding: 1em 0;
        }
    }
}


.matching-pairs__score-feedback {
    color: #666;

    .label {
        color: #ccc;
    }

    .matching-pairs__feedback {
        
        &.fbnomatch {
            // color: $gray;
        }
        &.fblucky {
            // color: $yellow;
        }
        &.fbmemory {
            // color: $teal;
        }
        &.fbmisremembered {
            // color: $red;
        }
        // &.nomessage {
        //     // opacity: 0;
        // }
    } 
}

.matching-pairs__score {
    // The total score
    display: flex;
    flex-direction: row;
    justify-content: center;

    .value {
        font-size: 5rem;
        line-height: .85;
        font-weight: 900;
    }

    .points {
        color: #ccc;
        font-weight: 600;
        display: none;
    }

    &.noscore {
        opacity: 0;
    }

    .value, .label {
        background: linear-gradient(70deg, #FFB14C -50%, #D843E2 600%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    // &.negative .value {
    //     background: linear-gradient(70deg, #FFB14C -500%, #D843E2 300%);
    //     -webkit-background-clip: text;
    //     background-clip: text;
    //     color: transparent;
    // }
}

@media screen and (max-width: 768px) {
    .matching-pairs__score .value {
        font-size: 4rem;
    }
}

.turnscore {
    position: fixed;
    bottom: -2rem;
    left: -2rem;
    &.noturnscore {
        opacity: 0;
    }
}

.matching-pairs__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
