@import "@/scss/theme.scss";
@import "@/scss/utils.scss";

$defaultSpacer: 1rem;

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--spacer, $defaultSpacer));
}

.checkbox {
  --checkbox-size: 1.75rem;
  --checkbox-padding: 0.5rem;

  // Consistent with RadioInput
  display: flex;
  padding: var(--checkbox-padding);
  gap: calc(0.75 * var(--spacer, $defaultSpacer));
  cursor: pointer;
  border-radius: 0.5em;

  // Label
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Checkbox Icon
  i {
    width: var(--checkbox-size);
    height: var(--checkbox-size);

    @extend .bg-inset-sm;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    transition: background-color 200ms ease;
    display: block;
  }

  &.checked {
    span {
      @extend .fw-semibold;
    }
    i {
      @extend .fill-primary;
      border: none;
    }
  }

  &:hover,
  &:focus {
    i {
      background-color: #eee;
    }

    &.checked i {
      border-color: #333;
    }
  }

  &:focus {
    outline: 1px solid #ddd;
    @extend .bg-inset-lg;
  }
}
