@import "@/scss/variables";
@import "./_AutoComplete";
@import "./_ButtonArray";
@import "./_Range";
@import "./_DropDown";
@import "./_String";
@import "./_TextRange";

.aha__question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;

  .question {
    flex-grow: 1;
    width: 100%;
  }

  h3 {
    width: 100%;
    margin-bottom: 1em;

    &.emphasize-title {
      text-align: left;
    }
  }
}

.expected-response {
  display: none;
}
