.aha__trial {
    display: flex;
    flex-direction: column;

    .stationary {
        margin-top: .5vh;
    }

    .circle {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle-content {
        position: absolute;
    }

    // Color schemes
    // ------------------------

    &.boolean {
        .player-wrapper:nth-of-type(1).aha__player-small,
        .playback {
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }
        .player-wrapper:nth-of-type(2) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
        .player-wrapper:nth-of-type(3) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($teal);
            }
        }
        .player-wrapper:nth-of-type(4) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }
    }

    &.boolean-negative-first {
        .player-wrapper:nth-of-type(1).aha__player-small,
        .playback {
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }
        .player-wrapper:nth-of-type(2) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
        .player-wrapper:nth-of-type(3) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($teal);
            }
        }
        .player-wrapper:nth-of-type(4) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }
    }

    &.neutral {
        /*
        .aha__play-button{
            @include btn-style($blue);
        }
        */

        .player-wrapper:nth-of-type(1) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
        .player-wrapper:nth-of-type(2) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }

    }

    &.neutral-inverted {
        .player-wrapper:nth-of-type(1) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }
        .player-wrapper:nth-of-type(2) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
    }

    &.neutral,
    &.neutral-inverted {
        .player-wrapper:nth-of-type(3) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($teal);
            }
        }
        .player-wrapper:nth-of-type(4) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }
    }

    &.primary-form {
        form {
            .btn:nth-of-type(1) {
                @include btn-style($pink);
            }
        }
    }

    &.blue-players {
        .playback,
        .player-wrapper:nth-of-type(1).aha__player-small,
        .player-wrapper:nth-of-type(2).aha__player-small,
        .player-wrapper:nth-of-type(3).aha__player-small,
        .player-wrapper:nth-of-type(4) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
    }

    &.pink-players {
        .playback,
        .player-wrapper:nth-of-type(1).aha__player-small,
        .player-wrapper:nth-of-type(2).aha__player-small,
        .player-wrapper:nth-of-type(3).aha__player-small,
        .player-wrapper:nth-of-type(4) .aha__player-small {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }
    }
}
