.aha__trial {
    display: flex;
    flex-direction: column;

    .ti-headphone {
        font-size: 80px;
    }

    .stationary {
        margin-top: 20px;
    }

    .circle {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle-content {
        top: 43px;
        position: absolute;
    }

    // Color schemes
    // ------------------------

    &.boolean {
        
        .aha__player-small:nth-of-type(1), .playback {
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }
        .aha__player-small:nth-of-type(2) {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
        .aha__player-small:nth-of-type(3) {
            .btn,
            .banner {
                @include btn-style($teal);
            }
        }
        .aha__player-small:nth-of-type(4) {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }

        form {
            .btn:nth-of-type(1) {
                @include btn-style($teal);
            }
            .btn:nth-of-type(2) {
                @include btn-style($red);
            }
        }
    }

    

    &.neutral {
        .aha__play-button{
            @include btn-style($blue);
        }

        .aha__player-small:nth-of-type(1){
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
        .aha__player-small:nth-of-type(2) {
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }

        form {
            .btn:nth-of-type(1) {
                @include btn-style($blue);
            }
            .btn:nth-of-type(2) {
                @include btn-style($yellow);
            }
        }
    }

    &.neutral-inverted {
        .aha__player-small:nth-of-type(1),{
            .btn,
            .banner {
                @include btn-style($yellow);
            }
        }
        .aha__player-small:nth-of-type(2) {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
        form {
            .btn:nth-of-type(1) {
                @include btn-style($yellow);
            }
            .btn:nth-of-type(2) {
                @include btn-style($blue);
            }
        }
    }

    &.neutral,
    &.neutral-inverted {
        .aha__player-small:nth-of-type(3) {
            .btn,
            .banner {
                @include btn-style($teal);
            }
        }
        .aha__player-small:nth-of-type(4) {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }
        form {
            .btn:nth-of-type(3) {
                @include btn-style($teal);
            }
            .btn:nth-of-type(4) {
                @include btn-style($pink);
            }
        }
    }

    &.blue-players {
        .playback,
        .aha__player-small:nth-of-type(1),
        .aha__player-small:nth-of-type(2),
        .aha__player-small:nth-of-type(3),
        .aha__player-small:nth-of-type(4) {
            .btn,
            .banner {
                @include btn-style($blue);
            }
        }
    }

    &.pink-players {
        .playback,
        .aha__player-small:nth-of-type(1),
        .aha__player-small:nth-of-type(2),
        .aha__player-small:nth-of-type(3),
        .aha__player-small:nth-of-type(4) {
            .btn,
            .banner {
                @include btn-style($pink);
            }
        }
    }
}
