.aha__score {
    font-size: 16px;

    .previous-song, .feedback {
        font-weight: 500;
        border-top: 1px solid rgba(white, 0.25);
        padding-bottom: 10px;
        padding-top: 13px;
        white-space: pre-line;

        h4 {
            text-transform: uppercase;
            color: $gray;
            font-weight: normal;
            margin-bottom: 3px;
            font-size: 13px;
            letter-spacing: 2px;
        }
        
        p {
            margin-bottom: 0;
        }
    }

    .score {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .aha__circle {
            margin-top: 20px;
        }

        .aha__circle .circle-percentage {
            animation-duration: 2s;
            animation-fill-mode: both;
            animation-timing-function: ease-out;
        }

        &.zero .aha__circle .circle-percentage {
            animation-name: scoreCircleZero;
        }

        &.positive .aha__circle .circle-percentage {
            animation-name: scoreCirclePositive;
        }

        &.negative .aha__circle .circle-percentage {
            animation-name: scoreCircleNegative;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            h1 {
                font-family: inherit;
                padding: 0;
                text-align: center;
                font-size: 65px;
            }

            h3 {
                margin-top: -15px;
                max-width: 155px;
                text-align: center;
                font-size: 22px;
                line-height: 30px;
            }

            span {
                font-size: 80px;
            }
        }
    }

    .total-score {
        color: white;
        margin-bottom: 0;
        font-size: 20px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }
}

@mixin scoreCircleAnimation($name, $color) {
    @keyframes #{$name} {
        0% {
            opacity: 0;
            fill: transparent;
        }
        50% {
            opacity: 1;
        }
        100% {
            fill: $color;
        }
    }
}

@include scoreCircleAnimation("scoreCircleZero", $gray);
@include scoreCircleAnimation("scoreCirclePositive", $teal);
@include scoreCircleAnimation("scoreCircleNegative", $red);
