#id_message {
    color: var(--error-fg);
}

div[data-inline-model="experiment-block"] {
    h3 {
        font-size: 1rem !important;
        background-color: var(--primary) !important;

        label {
            color: var(--button-fg);
        }
    }
}

div[data-inline-model="experiment-blocktranslatedcontent"], div[data-inline-model="question-questionseries"]{
    margin-left: 0px !important;

    h2, th {
        font-variant: all-petite-caps;
        font-size: 0.8rem;
    }

    h2 {
        background-color: var(--breadcrumbs-fg) !important;
    }
}

select[id*="questioninseries_set"] {
    width: 500px;
}

#default-questions {
    height: 30px;
    background-color: var(--breadcrumbs-fg);
}
