/* TODO: After PR #987 is merged, this file can probably be deleted. */
:root {
    --default-bg: #f8d7da;
    --default-fg: #721c24;
    --success-bg: #d4edda;
    --success-fg: #155724;
    --warning-bg: #fff3cd;
    --warning-fg: #856404;
    --error-bg: #f8d7da;
    --error-fg: #721c24;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.bold {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.alert {
    background-color: var(--default-bg);
    color: var(--default-fg);
    padding: 1rem;
    border-radius: 0.5rem;
}

.alert--success {
    background-color: var(--success-bg);
    color: var(--success-fg);
}

.alert--warning {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
}

.alert--error {
    background-color: var(--error-bg);
    color: var(--error-fg);
}