.buttons-row {
	margin: 0px 0px 0px 10px;
}

.buttons-row .button {
	padding: 2px 5px;
	margin: 0px 0px 0px 5px;
}

.buttons-column {
	margin: 10px 0px 0px 0px;
}

.buttons-column button, .loader {
	display: block;
	padding: 2px 5px;
	margin: 5px 0px 0px 0px;
}

form .button-show-hide {
 	width: 45px;
	padding: 2px 5px;
	margin: 0px 10px 0px 0px;
}
