.badge {
    display: inline-block;
    padding: 0.25rem 0.4rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-info {
    background: var(--button-bg);
    color: var(--button-fg);
}

.badge-warning {
    background: var(--message-warning-bg);
}

.badge-danger {
    background: var(--message-error-bg);
}

.badge-success {
    background: var(--message-success-bg);
}

.mt-1 {
    margin-top: 0.25rem;
}

#changelist table input {
    margin-right: 0.3rem;
}
