.tabs-container {
    height: 15px;
}

.translated-content-tab, .djn-group[id^='translated_content'] .djn-add-item {
    border: .5px;
    border-bottom: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 60px;
    padding: 2px;
    background-color: var(--default-button-bg);
    float: left;
}

.translated-content-tab.active {
    background-color: var(--button-bg);
}

/* .djn-add-item.translated-content {
    align-items: center;
} */
