.aha__block {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;

    .transition-enter .container {
        opacity: 0.01;
    }

    .transition-enter.transition-enter-active .container {
        opacity: 1;
        transition: opacity 300ms ease-in;
    }

    .transition-exit .container {
        opacity: 1;
    }

    .transition-exit.transition-exit-active .container {
        opacity: 0;
    }

    .loader-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
