.aha__final {

    $plastic: mix($gray, $black, 20%);
    $bronze: #ee8b6c;
    $platinum: #7ddff5;
    $diamond: #1c79ef;

    .aha__rank {
        margin-top: 15px;
    }

    .aha__final-rank-bar-section {
        position: relative;
        height: 10px;
        border: 2px solid $gold;
        border-top: 0;
        margin-top: 50px;
        margin: 50px auto 0;
        max-width: 480px;
        width: 100%;

        .aha__final-rank-bar-cursor {
            position: absolute;
            top: -5px;
            height: 20px;
            width: 2px;
            background: $gold;
        }

        &.diamond {
            border-color: $diamond;

            .aha__final-rank-bar-cursor {
                background: $diamond;
            }
        }

        &.platinum {
            border-color: $platinum;

            .aha__final-rank-bar-cursor {
                background: $platinum;
            }
        }

        &.gold {
            border-color: $gold;

            .aha__final-rank-bar-cursor {
                background: $gold;
            }
        }

        &.silver {
            border-color: white;

            .aha__final-rank-bar-cursor {
                background: white;
            }
        }

        &.bronze {
            border-color: $bronze;

            .aha__final-rank-bar-cursor {
                background: $bronze;
            }
        }

        &.plastic {
            border-color: $plastic;

            .aha__final-rank-bar-cursor {
                background: $plastic;
            }
        }
    }

    .aha__final-text {
        width: 100%;
        max-width: 360px;
        margin: 1rem auto;

        table {
            width: 100%;
        }
    }

    .share {
        a {
            $size: 55px;
            display: inline-block;
            width: $size;
            height: $size;
            border-radius: 50%;
            line-height: $size;
            text-align: center;
            color: white;
            margin: 0 10px;
            font-size: 0;

            &::before {
                font-size: 26px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    .home {
        padding: 10px;
        color: white;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
