.aha__final {
    .aha__rank {
        margin-top: 15px;
    }
    .share {
        a {
            $size: 55px;
            display: inline-block;
            width: $size;
            height: $size;
            border-radius: 50%;
            line-height: $size;
            text-align: center;
            background-color: $teal;
            color: white;
            margin: 0 10px;
            font-size: 0;

            &::before {
                font-size: 26px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    .home {
        padding: 10px;
        color: white;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
