.aha__page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &.chinese {
        font-family: 'Noto Sans SC', sans-serif !important;
        &h1,h2,h3,h4,.title,.aha__button {
            font-family: 'Noto Serif SC', serif !important;
        }
    }

    .container {
        @media (min-width: 720px) {
            max-width: 600px !important;
            padding-top: 5vh;
        }
    }
}
