.aha__dropdown {
    $color: $teal;
    display: flex;
    flex-direction: column;


    select {
        width: 100%;
        max-width: calc(100vw - 30px);
        margin: 10px 0;
        padding: 10px;
    }
}
