.aha__participant_link {
    padding-top: 10px;
    .copy {
        width: 100%;
        display: flex;
        justify-content: stretch;
        input {
            width: 100%;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: 0;
            padding: 6px;
            font-size: 0.9em;
        }

        button {
            padding: 6px;
            color: white;
            border: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            text-transform: uppercase;
            font-size: 0.9em;
            letter-spacing: 0.1em;
            font-weight: 500;
        }
    }
}
