h2.title,
h3.title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: left;

    &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -31px;
        width: 100px;
        height: 5px;
    }
}

.btn-lg {
    font-size: 1.3em;
}
