body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--background, #fff);
    background-image: var(--background-url, "");

    font-family: var(--font-family, sans-serif);
    font-size: 16px;
}

body.root {
    user-select: none;
    min-height: 100vh;

    /* disable pinch zoom on iOS */
    touch-action: manipulation;
}

#root {
    min-height: 100vh;
}
