.boolean {
    .btn:nth-of-type(1) {
        background-color: $teal;
    }
    .btn:nth-of-type(2){
        background-color: $red;
    }
}

.boolean-negative-first {
    .btn:nth-of-type(1) {
        background-color: $red;
    }
    .btn:nth-of-type(2){
        background-color: $teal;
    }
}

.neutral {
    .aha__player-small:nth-of-type(1){
        .btn {
            background-color: $blue;
        }
    }
    .aha__player-small:nth-of-type(2){
        .btn {
            background-color: $yellow;
        }
    }
    .aha__player-small:nth-of-type(3){
        .btn {
            background-color: $teal;
        }
    }

    .btn:nth-of-type(1){
        background-color: $blue;
    }
    .btn:nth-of-type(2){
        background-color: $yellow;
    }
    .btn:nth-of-type(3){
        background-color: $teal;
    }
}

.neutral-inverted {
    .aha__player-small:nth-of-type(1){
        .btn {
            background-color: $yellow;
        }
    }
    .aha__player-small:nth-of-type(2){
        .btn {
            background-color: $blue;
        }
    }
    .aha__player-small:nth-of-type(3){
        .btn {
            background-color: $teal;
        }
    }

    .btn:nth-of-type(1){
        background-color: $yellow;
    }
    .btn:nth-of-type(2){
        background-color: $blue;
    }
    .btn:nth-of-type(3){
        background-color: $teal;
    }
}
