@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&family=Noto+Serif+SC:wght@600&display=swap');

$teal: #39d7b8;
$yellow: #ffb14c;
$pink: #d843e2;
$red: #fa5577;
$blue: #0cc7f1;
$green: #00b612;
$indigo: #2b2bee;
$gray: #bdbebf;
$gray-200: #e9ecef;
$gray-900: #212529;
$gold: #f9b900;
$black: $gray-900;

$primary: $pink;
$secondary: $gray-900;
$success: $teal;
$positive: $teal;
$negative: $red;
$warning: $yellow;
$info: $blue;

$fa-font-path: "../public/vendor/font-awesome/webfonts";

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
