.aha__toontjehoger {
    .logo {
        height: 90px;
        width: 100%;
        max-width: 300px;
        font-size: 0;
        margin: 0 auto 30px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;

        @media (max-width: 720px) {
            margin-bottom: 15px;
        }
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        position: relative;

        @media (max-width: 720px) {
            flex-wrap: wrap;
            padding-bottom: 30px;
            border-top: 2px solid rgba(white, 0.2);
        }

        @media (min-width: 1024px) {
            min-height: 450px;
        }

        .intro {
            @media (min-width: 720px) {
                width: 50%;
                max-width: 650px;
            }

            @media (max-width: 720px) {
                padding: 30px 15px 40px;
            }

            .actions {
                display: flex;
                flex-wrap: wrap;
                row-gap: 15px;
                column-gap: 15px;
            }
        }

        .results {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: 720px) {
                width: 50%;
                max-width: 380px;
            }

            .score {
                background: radial-gradient(
                    circle at center,
                    rgba(white, 0.6),
                    rgba(white, 0.2),
                    rgba(white, 0),
                    rgba(white, 0)
                );
                width: 270px;
                height: 270px;
                text-align: center;
                border-radius: 135px;

                .aha__rank {
                    margin-top: 35px;
                }

                h1 {
                    line-height: 200px;
                }
            }
        }
    }

    .experiments {
        border-top: 12px solid rgba(white, 0.2);
        border-bottom: 12px solid rgba(white, 0.2);
        border-radius: 12px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgba(white, 0.2);
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 720px) {
            padding: 15px 15px;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            column-gap: 25px;
            row-gap: 25px;
            list-style: none;
            margin: 0;
            padding: 0;

            @media (max-width: 720px) {
                column-gap: 15px;
                row-gap: 15px;
            }

            &:hover {
                li {
                    opacity: 0.8;
                }
            }

            li {
                border-radius: 5px;
                border: 1px solid rgba(black, 0.5);
                transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out;
                background-color: rgba($black, 0.5);
                box-shadow: 0 0 0 rgba(black, 0.5);

                &:hover {
                    opacity: 1;
                    box-shadow: 0 2px 15px rgba(black, 0.3);
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    width: 300px;
                    max-width: 100%;
                    min-height: 300px;

                    @media (max-width: 420px) {
                        width: 100%;
                    }

                    .image {
                        height: 200px;
                        background-color: $gray;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        position: relative;
                        background-blend-mode: multiply;
                    }

                    h3 {
                        padding: 15px 15px 10px;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        padding: 0 15px 15px;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .supporters {
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .organizations {
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            column-gap: 45px;
            row-gap: 45px;
            flex-wrap: wrap;
            justify-content: center;

            a {
                width: 400px;
                max-width: 80%;
                display: block;
                position: relative;
                transition: opacity 0.3s ease-out;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }

                img {
                    width: 100%;
                }

                &.aml {
                    max-width: 100px;
                }
            }
        }
    }
}

.experiment-toontjehoger {
    // Hide app bar
    .aha__app-bar {
        display: none;
    }
    // Fix page width
    @media (min-width: 800px) {
        > .container {
            max-width: calc(100% - 50px) !important;
            padding-top: 0;
        }
    }
}
