@import "@/scss/utils";

.card {
  --spacer: 1rem;

  @extend .bg-inset-sm, .sharp-border;
  @extend .rounded-md;

  background-color: var(--background);

  &.dividers .section + .section {
    border-top: 1px solid #f5f5f5;
  }
}

.section {
  &:not(.flush) {
    padding: calc(0.75 * var(--spacer)) var(--spacer);
  }

  &.flush {
    padding: 0;
  }

  &.cardHeader {
    padding: calc(1.25 * var(--spacer)) var(--spacer);
  }
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.sectionTitle {
  font-size: 1rem;
  margin-bottom: 0;
}
