@import "./_AutoComplete";
@import "./_ButtonArray";
@import "./_Checkboxes";
// @import "./_Radios";
@import "./_Range";
@import "./_DropDown";
@import "./_String";
@import "./_TextRange";

.aha__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    .question {
        flex-grow: 1;
        width: 100%;
    }

    h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.65rem;

        @media (max-width: 320px) {
            font-size: 1.3em;
        }

        &:not(.title){
            text-align: center;
        }
    }

    .explainer {
        color: $gray;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
    }

    
}

.expected-response {
    display:none;
}
