.aha__consent {
    background: white;
    border-radius: 2px;
    width: calc(100% + 10px);
    margin-left: -5px;

    @media (min-width: 720px) {
        max-width: 500px;
        margin: 0 auto;
    }

    h3 {
        color: $black;
    }

    .aha__consent-header {
        border-bottom: 1px solid $gray;
        padding: 15px;
        margin-bottom: 0;
    }

    .consent-text {
        padding: 15px;
        color: $black;
        overflow-y: auto;
        max-height: calc(100vh - 250px);
        border-bottom: 1px solid $gray;
        margin-bottom: 0;

        @media (min-width: 720px) {
            max-height: calc(100vh - 300px);
        }
    }

    .buttons {
        padding: 15px;
    }
}
