.aha__footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .disclaimer > * {
        max-width: 700px;
        margin: 0 auto;
    }

    .logos {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
       gap: 45px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        a {
            max-width: 80%;
            width: 330px;
            display: block;
            position: relative;
            transition: opacity 0.3s ease-out;
            opacity: 0.8;
            padding: 15px;

            &:hover {
                opacity: 1;
            }

            img {
                width: 200px;
            }
        }
    }

    .privacy, .disclaimer {
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 0.9em;
        color: white;
    }

    .privacy {
        border-top: 2px solid rgba(white, 0.2);
    }
}

