.aha__buttons {
    display: flex;
    flex-direction: row;

    .btn.disabled {
        opacity: .3;
    }

    .title {
        flex: 0 0 100%;
    }

    .btn-group-toggle-custom {
        display: flex;
        column-gap: 3rem;

        &.buttons-large-gap {
            column-gap: 5rem;
        }

        &.buttons-large-text {
            font-size: 1.3rem;
        }

        .btn {
            min-width: 4rem;
        }

        input {
            display: none;
        }

        &.invisible-text {
            .btn.btn-secondary {
                color: transparent;
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
