.aha__buttons {
    display: flex;
    flex-direction: row;

    .btn.disabled {
        opacity: .3;
    }

    .title {
        flex: 0 0 100%;
    }

    .btn-group-toggle-custom {
        display: flex;
        &:has(> :last-child:nth-child(2)) {
            column-gap: 8vw;
        }
        &:has(> :last-child:nth-child(3)) {
            column-gap: 6vw;
        }
        &:has(> :last-child:nth-child(4)) {
            column-gap: 3vw;
        }
        &:has(> :last-child:nth-child(5)) {
            column-gap: 2vw;
        }

        .btn {
            min-width: 4rem;
            min-height: 3rem;
        }

        input {
            display: none;
        }

    }
}
