

.aha__buttons {
    display: flex;
    flex-direction: row;

    .btn.disabled {
        opacity: .3;
    }

    .title {
        flex: 0 0 100%;
    }

    .btn-group-toggle-custom{
        display: flex;
        column-gap: 20px;
        
        input{
            display: none;
        }
    }

    .buttons-large-gap {
        column-gap: 9.5em; //200px;
        font-size: 1.3em;
    }
}
