.aha__checkboxes {
    $color: $blue;
    display: flex;
    flex-direction: column;

    .checkbox {
        padding: 5px 0 3px 0;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        cursor: pointer;

        @media (max-width: 320px) {
            padding: 3px 0 1px 0;
        }

        &:hover {
            i {
                background-color: rgba($color, 0.5);
            }
            &.checked {
                i {
                    background-color: rgba($color, 0.8);
                }
            }
        }

        &:focus {
            outline: $color auto 2px;
            margin-left: -5px;
            padding-left: 5px;
        }

        i {
            margin-top: -2px;
            margin-right: 20px;
            width: 30px;
            height: 30px;
            border: 2px solid white;
            border-radius: 2px;
            transition: background-color 0.3s ease-out,
                border-border 0.3s ease-out;
            @media (max-width: 320px) {
                width: 20px;
                height: 20px;
                margin-top: 0px;
            }
        }
        &.checked {
            i {
                background-color: $color;
                border: 2px solid $color;
            }
        }
    }
}
