.aha__radios {
    display: flex;
    flex-direction: column;

    .radio {
        padding: 5px 0 3px 0;
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        cursor: pointer;

        @media (max-width: 320px) {
            padding: 3px 0 1px 0;
            margin-bottom: 1px;
        }

        &:focus {
            margin-left: -5px;
            padding-left: 5px;
        }

        i {
            flex-shrink: 0;
            margin-top: -2px;
            margin-right: 20px;
            width: 30px;
            height: 30px;
            border: 2px solid white;
            border-radius: 20px;
            transition: background-color 0.3s ease-out,
                border-border 0.3s ease-out;

            @media (max-width: 320px) {
                width: 20px;
                height: 20px;
                margin-top: 0;
            }
        }
    }
}
