.aha__range_slider{

    .current-value {
        text-align: center;
    }

    .limits {
        margin-top: -4px;
        color: $gray;
        font-size: 14px;
        .max {
            float: right;
        }
        .labels {
            margin-left: 7px;
            margin-right: 7px;
            display: flex;
            justify-content: space-between;
        }
    }

    

    input[type=range] {
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      width: 100%; /* Specific width is required for Firefox. */
    }
    
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    
    input[type=range]:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
    
    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
    
      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-radius: 20px;
      border-color: transparent;
      color: transparent;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #000000;
      height: 30px;
      width: 30px;
      border-radius: 30px;
      cursor: pointer;
      margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      border: 1px solid #000000;
      height: 30px;
      width: 30px;
      border-radius: 30px;
      cursor: pointer;
    }

}
