@import "./_ButtonArray";
@import "./_Checkboxes";
@import "./_Radios";
@import "./_Range";
@import "./_DropDown";
@import "./_String";

.aha__question {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .question {
        flex-grow: 1;
        width: 100%;
    }
}
