@import "./_AutoComplete";
@import "./_ButtonArray";
@import "./_Checkboxes";
@import "./_DropDown";
@import "./_Input";
@import "./_Radios";
@import "./_RangeSlider";

.aha__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .question {
        flex-grow: 1;
        width: 100%;
    }

    h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.65rem;

        @media (max-width: 320px) {
            font-size: 1.3em;
        }

        text-align: center;

        &.emphasize-title{
            text-align: left;
        }
    }

    .explainer {
        color: $gray;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
    }


}

.expected-response {
    display:none;
}
