@import "../../scss/variables.scss";

.floating-action-button {
    $self: &;

    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    transition-property: transform, left, right, top, bottom, filter;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    filter: drop-shadow(0, 0, 0, rgba(0, 0, 0, 0));

    &--expanded {
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
    }

    &--left {
        flex-direction: row-reverse;
        right: auto;
        left: -200px;

        &#{$self}--expanded {
            left: 0px;
        }
    }

    &--right {
        left: auto;
        right: -200px;

        &#{$self}--expanded {
            right: 0px;
        }
    }

    &--top {
        align-items: flex-start;
        bottom: auto;
        top: 0px;
    }

    &--bottom {
        align-items: flex-end;
        top: auto;
        bottom: 0px;
    }

    // vertically centered
    &--center {
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
    }

    &__toggle-button {
        background: $gray;
        border: none;
        padding: .5rem;

        #{$self}--left & {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        #{$self}--right & {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__content {
        background: $gray;
        border: none;
        padding: .5rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 200px;
        min-height: 100px;
        max-height: 100vh;

        #{$self}--left & {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        #{$self}--right & {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #{$self}--top & {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        #{$self}--bottom & {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    &__overlay {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.2);
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease-in-out;

        &--expanded {
            opacity: 1;
            pointer-events: all;
        }
    }
}
