.aha__button {
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out;
    opacity: 1;
    &.disabled, &:disabled {
        transition: background-color 0.3s ease-out;
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.primary {
        @include btn-style($primary);
    }

    &.secondary {
        @include btn-style($secondary);
    }

    &.success {
        @include btn-style($success);
    }

    &.positive {
        @include btn-style($positive);
    }

    &.warning {
        @include btn-style($warning);
    }

    &.negative {
        @include btn-style($negative);
    }
}

.mcg {
//     .aha__button {
//         width: 100%;
//         border-radius: .5em;
//         @extend .bg-red-pink;
//         border: unset;
//         // border: 5px solid #ffffff22;
        
//     }
    .btn {
        font-family: Inter !important;
    }
}