.aha__button {
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out;
    opacity: 1;
    &.disabled, &:disabled {
        transition: background-color 0.3s ease-out;
        opacity: 0.5;
        cursor: not-allowed;
    }
}
