$logo-height: 30px;
$logo-height-mobile: 30px;

.aha__logo {
    display: inline-block;
    height: $logo-height;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    font-size: 0;
    color: transparent;
    width: 30%;
}