.aha__loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: fadeInAnimation;
    animation-timing-function: ease-out;
    animation-duration: 3500ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    .aha__circle {
        animation-name: rotate;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            text-align: center;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 2px;
            margin: 0;
            color: $gray;
        }
    }
}
