.aha__profile {
    position: relative;
    width: 100%;
    max-width: 100%;

    .scroller {
        overflow: hidden;
        overflow-x: scroll;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-top: -10px;

        @media (min-width: 720px) {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 550px;
        }

        .scores {
            padding: 10px;
            display: flex;
            gap: 1rem;

            @media (min-width: 720px) {
                flex-wrap: wrap;
                justify-content: center;
                width: auto !important;
            }

            .score {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                border: 1px solid rgba(white, 0.3);
                border-radius: 5px;
                padding: 2rem;

                @media (min-width: 720px) {
                    flex-direction: column;
                    justify-content: center;
                    padding: 2rem;
                }

                .rank {
                    position: relative;

                    @media (min-width: 720px) {
                        margin-right: 0;
                        width: 100%;
                    }

                    .aha__rank {
                        position: absolute;
                        top: -5px;
                        left: -10px;
                        transform: scale(0.6);

                        @media (min-width: 720px) {
                            position: relative;
                            top: 0;
                            left: 0;
                            margin: auto;
                        }

                        h4 {
                            font-size: 1em;
                        }
                    }
                }

                .stats {
                    padding-left: 10px;
                    flex-grow: 1;
                    width: 100%;

                    @media (min-width: 720px) {
                        text-align: center;
                        padding-left: 0;
                    }

                    h5 {
                        margin-bottom: 0;
                    }

                    a {
                        color: white;
                        transition: opacity 0.3s ease-out;
                        border-bottom: 2px solid $primary;
                        text-decoration: none !important;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    p {
                        color: $gray;
                        margin-bottom: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .store {
        padding-top: 10px;

        .copy {
            width: 100%;
            display: flex;
            justify-content: stretch;

            input {
                width: 100%;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border: 0;
                padding: 6px;
                font-size: 0.9em;
            }

            button {
                padding: 6px;
                color: white;
                background-color: $success;
                border: 0;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                text-transform: uppercase;
                font-size: 0.9em;
                letter-spacing: 0.1em;
                font-weight: 500;
            }
        }
    }
}
