@import "@/scss/forms.scss";

.container {
  display: flex;
  gap: 0.5em;

  input {
    @extend .text-input;
    flex-grow: 1;
  }
}

.charCount {
  opacity: 0.5;
  font-size: 0.875em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 5ch;
}
