@use "sass:math";

.aha__explainer {
    ul {
        list-style: none;
        margin: 0;
        padding: 5px 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            line-height: 1.4;
            font-size: 16px;
            min-height: 10px;

            .number {
                flex-shrink: 0;
                margin-right: 10px;
                display: inline-block;
                border: 2px solid rgba(white, 0.2);
                box-sizing: border-box;
                text-align: center;
                font-size: 18px;
                $size: 35px;
                width: $size;
                height: $size;
                border-radius: math.div($size, 2);
                font-size: math.div($size, 1.9);
                line-height: $size - 2;
                margin-bottom: 2px;
                margin-top: 2px;
            }
        }
    }
}
