.aha__plink{
  .aha__play-button{
    @include btn-style($blue);
  }

  .plink-extra-questions .aha__question{
    animation-name: plink-question-intro;
    animation-delay: 0.05s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}

@keyframes plink-question-intro {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}