.aha__circle {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;

    >svg {
        @extend .circleIntro;

        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

    .circle-percentage {
        transition: stroke-dashoffset 0.1s linear;
    }
}
