.aha__circle {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;

    >svg,
    .content {
        position: absolute;
        left: 0;
        top: 0;
    }

    >svg {
        @extend .circleIntro;
    }

    .circle-percentage {
        transition: stroke-dashoffset 0.1s linear;

        // 102.5px is the radius of the circle
        // translateX because the circle is rotated -90deg
        transform: rotate(-90deg) translateX(calc(-102.5px * 2));
    }
}
