# Cache control headers for images
<FilesMatch "\.(jpg|jpeg|png|svg|ico)$">
Header set Cache-Control "max-age=31536050"
</FilesMatch>

# Rewrite urls to index.html for React router
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
 </IfModule>