.aha__playlist {
    .col-sm-7 {
        padding-left: 5px;
        padding-right: 5px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 10px 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 18px;
            padding: 10px;
            transition: background-color 0.3s ease-out;
            cursor: pointer;
            border-radius: 5px;
            margin-left: -10px;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0) 100%
            );
            &:hover {
                background-color: rgba(white, 0.2);
            }

            &:focus {
                outline: $pink auto 2px;
            }

            .icon {
                flex-shrink: 0;
                margin-right: 20px;
                display: inline-block;
                width: 70px;
                height: 70px;
                border-radius: 35px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: $icon-playlist;
            }
        }
    }
}
