.aha__HTML {

    .html-content{
        max-width: 100%;
    }

    .card {
        height: 21vh;

        span {
            margin-top: 5vh;
        }

        &.is-greyed-out {
            border: .5rem solid grey;
            background-color: transparent;
            color: transparent;
        }

        .card-body {
            text-align: left;
            padding-top: 1vh;
            ul {
                padding: 0;
            }
        }

        .card-title {
            padding: 0;
            font-size: 2.5vh;
        }

        .card-text {
            font-size: 2vh;
        }
        
    }
}
