@import "../../scss/utils.scss";

.mcg-playing-board {
    border-radius: 5%;
    padding: 3em;
    min-width: 200px;
    min-height: 200px;;

    .square-grid {
        gap: 1.5em;
    }
}

@include media-breakpoint-down(md) {
    .mcg-playing-board {
        padding: 1rem;

        .square-grid {
            gap: 1rem;
        }
    }
}

@media (max-aspect-ratio: 1/1), (max-height: 500px) {
    .mcg-playing-board {
        padding: 1rem;

        .square-grid {
            gap: 1rem;
        }
    }
}
