$playButtonHighDisplay: 18vw;
$playButtonWideDisplay: 16vh;

@keyframes memory {
    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }

    95% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lucky {
    40% {
        transform: scale(1.15);
    }

    80% {
        transform: scale(1);
    }

    95% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes nomatch {
    10% {
        transform: rotate(13deg);
    }

    20% {
        transform: rotate(-13deg);
    }

    30% {
        transform: rotate(11deg);
    }

    40% {
        transform: rotate(-11deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(8deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    95% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.aha__play-card {
    user-select: none;
    -webkit-user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0;
    }

    &.fbnomatch,
    &.fbmisremembered {
        animation-duration: 0.7s;
        animation-name: nomatch;
        animation-iteration-count: 1;
    }

    &.fblucky {
        animation-duration: 0.55s;
        animation-name: lucky;
        animation-iteration-count: 1;
    }

    &.fbmemory {
        animation-duration: 0.8s;
        animation-name: memory;
        animation-iteration-count: 1;
    }

    &.noevents {
        pointer-events: none;
    }

    .front {
        border-radius: .5rem;

        &--visual {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }
    }

    .back {
        background-color: $gray;
        border-radius: .5rem;
    }

    @media(min-aspect-ratio: 1/1) {

        .back,
        .turned {
            width: $playButtonWideDisplay;
            height: $playButtonWideDisplay;
        }
    }

    @media(max-aspect-ratio: 1/1) {

        .back,
        .turned {
            width: $playButtonHighDisplay;
            height: $playButtonHighDisplay;
        }
    }
}
