.aha__share {
    &.d-flex {
        gap: 1vw;
    }
    i {
        $size: 4rem;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        border: 2px solid rgba(white, 0.1);
        background-color: rgba(white, 0.1);
        border-radius: 50%;
    }
}
