@import "@/scss/variables";

.aha__experiment {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap: 30px;
    position: relative;
    color: var(--white);

    @media (max-width: 720px) {
      flex-wrap: wrap;
      padding-bottom: 30px;
      border-top: 2px solid rgba(white, 0.2);
    }

    @media (min-width: 1024px) {
      min-height: 430px;
    }

    .intro {
      padding: 30px 20px 0px;

      @media (min-width: 720px) {
        width: 50%;
        max-width: 650px;
        padding: 0;
        padding-top: 30px;
      }

      @media (min-width: 1024px) {
        padding: 0;
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 15px;
      }
    }

    .results {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (min-width: 720px) {
        width: 50%;
        max-width: 380px;
      }

      .score {
        background: radial-gradient(
          circle at center,
          rgba(white, 0.6),
          rgba(white, 0.2),
          rgba(white, 0),
          rgba(white, 0)
        );
        width: 270px;
        height: 240px;
        text-align: center;
        border-radius: 135px;

        .aha__rank {
          margin-top: 35px;
          margin-bottom: 15px;
        }

        h1 {
          line-height: 200px;
        }
      }

      .share {
        h5 {
          opacity: 0.7;
          text-align: center;
          font-size: 1.1em;
        }

        .social {
          display: flex;

          a {
            $shareSize: 50px;
            color: white;
            display: inline-block;
            width: $shareSize;
            height: $shareSize;
            border: 2px solid rgba(white, 0.1);
            background-color: rgba(white, 0.1);
            text-align: center;
            line-height: $shareSize - 2;
            border-radius: $shareSize;
            margin: 0 5px;
            text-decoration: none;
            transition: background-color 0.3s ease-out;
            font-size: 0;

            &::before {
              font-size: 1.3rem;
            }

            &:hover {
              background-color: rgba(white, 0.3);
            }

            &.whatsapp {
              background-image: url("/public/images/experiments/toontjehoger/icon-whatsapp.svg");
              background-position: center;
              background-size: 23px;
              background-repeat: no-repeat;
              display: none;

              @media (max-width: 720px) and (hover: none) and (pointer: coarse) {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .dashboard {
    border-top: 12px solid rgba(white, 0.2);
    border-bottom: 12px solid rgba(white, 0.2);
    border-radius: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(white, 0.2);
    max-width: 1200px;
    margin: 0 1.25rem;

    @media (max-width: 720px) {
      padding: 15px 15px;
    }

    @media (min-width: $breakpoint-xl) {
      margin: 0 auto;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      column-gap: 25px;
      row-gap: 25px;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: 420px) {
        column-gap: 15px;
        row-gap: 15px;
      }

      &:hover {
        li {
          opacity: 0.8;
        }
      }

      li {
        border-radius: 5px;
        border: 1px solid rgba(black, 0.5);
        transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out;
        background-color: rgba($black, 0.5);
        box-shadow: 0 0 0 rgba(black, 0.5);
        background-position: center center;
        background-size: cover;

        @media (max-width: 350px) {
          width: 100%;
        }

        &:hover {
          opacity: 1;
          box-shadow: 0 2px 15px rgba(black, 0.3);
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 200px;
        }

        .placeholder {
          height: 200px;
          background-color: $gray;
          background-blend-mode: multiply;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        a {
          display: block;
          text-decoration: none;
          color: white;
          width: 300px;
          max-width: 100%;
          min-height: 300px;
          position: relative;

          @media (max-width: 420px) {
            width: 100%;
          }

          .image {
            height: 200px;
            background-color: $gray;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            background-blend-mode: multiply;
          }

          h3 {
            padding: 15px 15px 10px;
            margin: 0;
          }

          p {
            margin: 0;
            padding: 0 15px 15px;
            opacity: 0.8;
          }

          .status-bar {
            position: absolute;
            bottom: 0.25rem;
            right: 0.25rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 0.25rem;
          }

          .counter {
            color: var(--white);
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0.2rem 0.5rem;
            border-radius: 0.5rem;
            transition: background-color 0.3s ease-out;

            &:hover {
              background-color: rgba(0, 0, 0, 1);
            }
          }
        }
      }
    }
  }

  .supporters {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    p {
      max-width: 700px;
    }

    .organizations {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      column-gap: 45px;
      row-gap: 45px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      a {
        max-width: 80%;
        width: 330px;
        display: block;
        position: relative;
        transition: opacity 0.3s ease-out;
        opacity: 0.8;
        padding: 15px;

        &:hover {
          opacity: 1;
        }

        img {
          width: 100%;
        }

        &.aml {
          width: 140px;
        }

        &.uva {
          width: 250px;
        }

        &.mcg {
          width: 200px;
        }
      }
    }
  }

  .privacy {
    border-top: 2px solid rgba(white, 0.2);
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
  }

  // About
  // =========================

  &.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      margin-bottom: 25px;
    }
  }

  .project {
    max-width: 700px;
  }

  .streamer {
    margin: 50px 30px;
    color: $pink;
    text-shadow: 0 0 30px $pink;

    @media (max-width: 720px) {
      margin: 30px 20px;
    }
  }

  .colofon {
    max-width: 700px;

    span {
      display: block;
      padding-left: 150px;
      padding-bottom: 10px;
    }

    b {
      display: inline-block;
      margin-left: -150px;
      min-width: 150px;
    }
  }

  .group-portrait {
    display: block;
    margin: 20px auto 0;
    width: 951px;
    max-width: 100%;
    border-bottom: 2px solid rgba(white, 0.2);

    img {
      width: 100%;
      border-radius: 3px;
    }

    p {
      font-size: 0.9em;
      font-style: italic;
      margin: 0 auto;
      max-width: 700px;
      padding: 10px;
      opacity: 0.7;
    }
  }
}
