.aha__cup {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    background-color: $yellow;
    box-shadow: 13px 0 64px $yellow;
    border: 5px solid white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @extend .circleIntro;

    // Variations based on rank
    &::before,
    &.diamond::after,
    &.platinum::after {
        content: "";
        position: absolute;
        left: -27px;
        top: -27px;
        width: 193px;
        height: 193px;
        background-image: $rank-deco;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.1;
        animation-name: rotate;
        animation-timing-function: linear;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    &.plastic::before {
        display: none;
    }

    &.bronze::before {
        opacity: 0.05;
        animation-duration: 60s;
        animation-name: none;
        transform: scale(0.9);
    }

    &.silver::before {
        opacity: 0.05;
        animation-duration: 40s;
    }

    &.platinum::after {
        opacity: 0.05;
    }

    &.diamond::after,
    &.platinum::after {
        animation-delay: -0.588s;
    }

    // Rankings:

    &.diamond {
        background-color: #1c79ef;
        box-shadow: 13px 0 64px #1c79ef;
    }

    &.platinum {
        background-color: #7ddff5;
        box-shadow: 13px 0 64px #7ddff5;
    }

    &.gold {
        background-color: $yellow;
        box-shadow: 13px 0 64px $yellow;
    }

    &.silver {
        background-color: $gray;
        box-shadow: 13px 0 64px $gray;
    }

    &.bronze {
        background-color: #ee8b6c;
        box-shadow: 13px 0 64px #ee8b6c;
    }

    &.plastic {
        background-color: mix($gray, $black, 20%);
        box-shadow: 13px 0 64px $black;
    }

    >h4 {
        position: absolute;
        bottom: 9px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.1em;
    }

    >.cup {
        width: 85px;
        height: 85px;
        background-image: $cup;
        background-repeat: no-repeat;
        background-position: center center;

        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-duration: 2.8s;
        animation-timing-function: ease-in-out;
    }

    &.offsetCup>.cup {
        margin-top: -20px;
    }
}
