.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-content {
    position: absolute;
    width: 90px;

    img {
        height: 20em;
        margin-top: 10em;
        margin-bottom: 10em;
    }
}

.aha__histogram-container {
    margin-top: -20px;
    height: 80px;
}

