@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

@media (min-aspect-ratio: 1/1) {
    $card: 20vh;
}

@media (max-aspect-ratio: 1/1) {
    $card: 20vw;
}

.aha__page .container {
    padding-top: 2vh;
}

.aha__matching-pairs {
    margin: 0px auto;
    max-width: 100%;
}

.playing-board {
    grid-template-columns: 18vh 18vh 18vh 18vh;
    column-gap: 2vh;
    row-gap: 2vh;
}

@media (max-aspect-ratio: 1/1)  {
    .playing-board {
        grid-template-columns: 18vw 18vw 18vw 18vw;
        column-gap: 2vw;
        row-gap: 2vw;
    }
}

.playing-board {
    display: grid;
    max-width: 100%;

    .player-wrapper {
        position: relative;
    }

    .buttons {
        max-width: 350px;

        .aha__button {
            margin-bottom: 10px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .instruction {
        min-height: 55px;
        h3 {
            margin: 0;
        }
    }

    .feedback {
        padding-top: 50px;
        font-size: large;
    }

    .running-score {
        position: absolute;
        margin-top: -7%;
        
    }
}

.matching-pairs__debug, .matching-pairs__feedback, .matching-pairs__score {
    font-family: 'Rajdhani', sans-serif;
    font-size: x-large;
    text-align: center;   
    padding-bottom: 1.5rem;    
    font-weight: 700;
    width: auto;    
}

.col {
    margin-left: 4vw;
    margin-right: 4vw;
}

.matching-pairs__feedback {
    float: left;
    color: white;
    
    &.fbnomatch {
        color: $gray;
    }
    &.fblucky {
        color: $yellow;
    }
    &.fbmemory {
        color: $teal;
    }
    &.fbmisremembered {
        color: $red;
    }
} 

.matching-pairs__score {
    float: right;
}