@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

@media (min-aspect-ratio: 1/1) {
    $card: 15vh;
}

@media (max-aspect-ratio: 1/1) {
    $card: 15vw;
}

.aha__page .container {
    padding-top: 2vh;
}

.aha__matching-pairs {
    margin: 0px auto;
    max-width: 100%;
}

@media (min-aspect-ratio: 1/1)  {
.playing-board {
        grid-template-columns: 15vh 15vh 15vh 15vh;
        column-gap: 1vh;
        row-gap: 1vh;
    }
}

@media (max-aspect-ratio: 1/1)  {
    .playing-board {
        grid-template-columns: 15vw 15vw 15vw 15vw;
        column-gap: 1vw;
        row-gap: 1vw;
    }
}

.playing-board {
    display: grid;
    max-width: 100%;
}

.matching-pairs__feedback, .matching-pairs__score {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 700;
    font-size: 95%;
    width: auto;

    @media(min-width: 500px) {
        font-size: 150%;
    }
}



.matching-pairs__feedback {
    float: left;
    color: white;
    
    &.fbnomatch {
        color: $gray;
    }
    &.fblucky {
        color: $yellow;
    }
    &.fbmemory {
        color: $teal;
    }
    &.fbmisremembered {
        color: $red;
    }
} 

.matching-pairs__score {
    float: right;
}