.aha__matching_pairs {
    margin: 0px auto;
    max-width: 100%;
}

.playing-board {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;

    .player-wrapper {
        position: relative;
    }

    .buttons {
        max-width: 350px;

        .aha__button {
            margin-bottom: 10px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .instruction {
        min-height: 55px;
        h3 {
            margin: 0;
        }
    }


    .feedback {
        padding-top: 50px;
        font-size: large;
    }

    .running-score {
        position: absolute;
        margin-top: -7%;
        font-size: x-large;
    }
}
