.aha__multiplayer {
    .players {
        max-width: 350px;
    }

    btn:nth-of-type(1) {
        background-color: $teal;
    }
    .btn:nth-of-type(2){
        background-color: $blue;
    }
    .btn:nth-of-type(3){
        background-color: $yellow;
    }

    .buttons {
        max-width: 390px;

        .aha__button {
            margin-bottom: 10px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .instruction {
        min-height: 55px;
        h3 {
            margin: 0;
        }
    }
    .buttons {
        max-width: 350px;
    }
}
