.aha__multiplayer {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-wrap: wrap;
    max-width: 100%;

    &.player-count-2 {
        column-gap: 30px;
    }

    .player-wrapper {
        position: relative;
    }

    .buttons {
        max-width: 350px;

        .aha__button {
            margin-bottom: 10px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .instruction {
        min-height: 55px;

        h3 {
            margin: 0;
        }
    }

    &.neutral-inverted {

        .player-wrapper:nth-child(1) {

            .aha__play-button {
                background-color: $blue;
                box-shadow: 0 0 0 0.2em rgba($blue, 0.5);
            }

            .banner {
                background-color: rgba($blue, 0.75);
            }
        }

        .player-wrapper:nth-child(2) {

            .aha__play-button {
                background-color: $yellow;
                box-shadow: 0 0 0 0.2em rgba($yellow, 0.5);
            }

            .banner {
                background-color: rgba($yellow, 0.75);
            }
        }

    }
}