.aha__playback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .playback {
    max-width: 100%;
  }
}

// // @BC MCG theme-specific styling
// .mcg .aha__playback .playback {
//     width: 100%;
// }
