.aha__spectrogram-player {
    max-width: 100vw;
    .player-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        .spectrogram {
            max-width: 400px;
            width: calc(100% - 160px);
            height: 100px;
            cursor: pointer;
            transition: filter 0.2s ease-out;
            box-shadow: 0 0 15px rgba(black, 0.4);
            border-radius: 5px;

            &:hover {
                filter: brightness(110%);
            }

            @media (max-width: 720px) {
                margin-left: -70px;
                width: calc(100% - 90px);
            }
        }

        // Player banners
        .aha__player-small {
            height: 100px;
            flex-shrink: 0;
            z-index: 2;

            .aha__play-button {
                width: 100px;
                height: 100px;
            }

            &.hasLabel {
                height: 100px;
                width: 160px;
                padding-left: 40px;
            }

            .banner {
                z-index: 0;
                position: absolute;
                opacity: 0.5;
                height: 60px;
                width: 120px;
                border-radius: 60px;
                top: 20px;
                left: 15px;

                @media (max-width: 720px) {
                    left: 25px;
                }
            }

            .label {
                position: absolute;
                top: 35px;
                left: 5px;
                text-align: left;

                @media (max-width: 720px) {
                    left: 13px;
                    font-size: 1.4em;
                    top: 38px;
                }
            }
        }
    }
}
