name: Database Backup Template

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string

jobs:
  backup:
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Set Date
        id: date
        run: echo "DATE=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
      - name: Backup Database
        run: |
          podman compose -f docker-compose-deploy.yml run --rm db sh -c "pg_dump -Fc > /backups/${{ env.DATE }}.dump"
        env:
          SQL_DATABASE: ${{ vars.SQL_DATABASE }}
          SQL_HOST: ${{ vars.SQL_HOST }}
          SQL_PORT: ${{ vars.SQL_PORT }}
          SQL_USER: ${{ secrets.SQL_USER }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
      - name: Remove Old Backups (older than 7 days)
        run: |
          podman compose -f docker-compose-deploy.yml run --rm db sh -c "find /backups -type f -name '*.dump' -mtime +7 -exec rm {} \;"
        env:
          SQL_DATABASE: ${{ vars.SQL_DATABASE }}
          SQL_HOST: ${{ vars.SQL_HOST }}
          SQL_PORT: ${{ vars.SQL_PORT }}
          SQL_USER: ${{ secrets.SQL_USER }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
