name: Database Backup Template

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
  workflow_dispatch:

jobs:
  backup:
    runs-on: ${{ inputs.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Set Date
        id: date
        run: echo "DATE=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
      
      - name: Start Database service
        run: podman compose -f docker-compose-deploy.yml up db -d --no-recreate
        env:
          POSTGRES_DB: ${{ vars.SQL_DATABASE}}
          POSTGRES_USER: ${{ secrets.SQL_USER }}
          POSTGRES_PASSWORD: ${{ secrets.SQL_PASSWORD }}
          PGHOST: ${{ vars.SQL_HOST }}
          PGPORT: ${{ vars.SQL_PORT }}
          PGUSER: ${{ secrets.SQL_USER }}
          PGDATABASE: ${{ vars.SQL_DATABASE }}
          PGPASSWORD: ${{ secrets.SQL_PASSWORD }}
      
      - name: Backup database
        run: podman exec muscle_db sh -c "pg_dump -Fc > /backups/${{ env.DATE }}.dump"
      
      - name: Remove Old Backups (older than 7 days)
        run: |
          podman exec muscle_db sh -c "find /backups -type f -name '*.dump' -mtime +7 -exec rm {} \;"
  
  diagnose_database:
    runs-on: tst
    env:
      POSTGRES_DB: ${{ vars.SQL_DATABASE}}
      POSTGRES_USER: ${{ secrets.SQL_USER }}
      POSTGRES_PASSWORD: ${{ secrets.SQL_PASSWORD }}
      PGHOST: ${{ vars.SQL_HOST }}
      PGPORT: ${{ vars.SQL_PORT }}
      PGUSER: ${{ secrets.SQL_USER }}
      PGDATABASE: ${{ vars.SQL_DATABASE }}
      PGPASSWORD: ${{ secrets.SQL_PASSWORD }}
    if: github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v4
      - name: Start Database service
        run: podman compose -f docker-compose-deploy.yml start db
      
      - name: Check if pg_dump can be run on container
        run: podman exec muscle_db sh -c "pg_dump --help"
      
