name: Database Backup Template

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      environment:
        required: true
        type: string
  workflow_dispatch:

jobs:
  backup:
    runs-on: ${{ inputs.runner }}
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
      - name: Set Date
        id: date
        run: echo "DATE=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
      - name: Backup database
        env:
          SQL_HOST: ${{ vars.SQL_HOST }}
          SQL_PORT: ${{ vars.SQL_PORT }}
          SQL_USER: ${{ secrets.SQL_USER }}
          SQL_DATABASE: ${{ vars.SQL_DATABASE }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
        run: podman compose -f docker-compose-deploy.yml run --rm db sh -c "pg_dump -Fc > /backups/${{ env.DATE }}.dump"
      - name: Remove Old Backups (older than 7 days)
        run: |
          podman compose -f docker-compose-deploy.yml run --rm db sh -c "find /backups -type f -name '*.dump' -mtime +7 -exec rm {} \;"
  
  diagnose_database:
    runs-on: tst
    environment: Test
    if: (github.event_name == 'workflow_dispatch' && !startsWith(github.ref, 'refs/tags'))
    steps:
      - uses: actions/checkout@v4
      - name: Check use of pg_dump
        env:
          SQL_HOST: ${{ vars.SQL_HOST }}
          SQL_PORT: ${{ vars.SQL_PORT }}
          SQL_USER: ${{ secrets.SQL_USER }}
          SQL_DATABASE: ${{ vars.SQL_DATABASE }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
        run: podman compose -f docker-compose-deploy.yml run --rm db postgres; sh -c "pg_dump -Fc > /backups/test.dump"
      
