name: Update .env file

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      environment:
        required: true
        type: string

jobs:
  write-env-file:
    name: Update .env file on server from GitHub environment
    runs-on: ${{ inputs.runner }}
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
      - name: Dump environment information
        env:
          # Variables
          AML_ALLOWED_HOSTS: ${{ vars.AML_ALLOWED_HOSTS }}
          AML_CORS_ORIGIN_WHITELIST: ${{ vars.AML_CORS_ORIGIN_WHITELIST }}
          CSRF_TRUSTED_ORIGINS: ${{ vars.CSRF_TRUSTED_ORIGINS }}
          AML_DEBUG: ${{ vars.AML_DEBUG }}
          AML_LOCATION_PROVIDER: ${{ vars.AML_LOCATION_PROVIDER }}
          AML_SUBPATH: ${{ vars.AML_SUBPATH }}
          DJANGO_SETTINGS_MODULE: ${{ vars.DJANGO_SETTINGS_MODULE }}
          SENTRY_ENVIRONMENT: "tunetwins"
          SQL_DATABASE: ${{ vars.SQL_DATABASE }}
          SQL_HOST: ${{ vars.SQL_HOST }}
          SQL_PORT: ${{ vars.SQL_PORT }}
          FRONTEND_API_ROOT: ${{ vars.FRONTEND_API_ROOT }}
          FRONTEND_EXPERIMENT_SLUG: ${{ vars.FRONTEND_EXPERIMENT_SLUG }}
          FRONTEND_AML_HOME: ${{ vars.FRONTEND_AML_HOME }}
          FRONTEND_HTML_PAGE_TITLE: ${{ vars.FRONTEND_HTML_PAGE_TITLE }}
          FRONTEND_HTML_FAVICON: ${{ vars.FRONTEND_HTML_FAVICON || '' }}
          FRONTEND_LOGO_URL: ${{ vars.FRONTEND_LOGO_URL || '' }}
          FRONTEND_HTML_OG_DESCRIPTION: ${{ vars.FRONTEND_HTML_OG_DESCRIPTION || '' }}
          FRONTEND_HTML_OG_IMAGE: ${{ vars.FRONTEND_HTML_OG_IMAGE || '' }}
          FRONTEND_HTML_OG_TITLE: ${{ vars.FRONTEND_HTML_OG_TITLE || '' }}
          FRONTEND_HTML_OG_URL: ${{ vars.FRONTEND_HTML_OG_URL || '' }}
          FRONTEND_HTML_BODY_CLASS: ${{ vars.FRONTEND_HTML_BODY_CLASS || '' }}
        
          # Secrets
          AML_SECRET_KEY: ${{ secrets.AML_SECRET_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SQL_USER: ${{ secrets.SQL_USER }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
          FRONTEND_SENTRY_DSN: ${{ secrets.FRONTEND_SENTRY_DSN }}
          DJANGO_SUPERUSER_USERNAME: ${{ secrets.DJANGO_SUPERUSER_USERNAME }}
          DJANGO_SUPERUSER_PASSWORD: ${{ secrets.DJANGO_SUPERUSER_PASSWORD }}
          DJANGO_SUPERUSER_EMAIL: ${{ secrets.DJANGO_SUPERUSER_EMAIL }}
        run: |
          touch .env
          echo "FRONTEND_API_ROOT=$FRONTEND_API_ROOT" >> .env
          echo "FRONTEND_EXPERIMENT_SLUG=$FRONTEND_EXPERIMENT_SLUG" >> .env
          echo "FRONTEND_AML_HOME=$FRONTEND_AML_HOME" >> .env
          echo "FRONTEND_LOGO_URL=$FRONTEND_LOGO_URL" >> .env
          echo "FRONTEND_HTML_FAVICON=$FRONTEND_HTML_FAVICON" >> .env
          echo "FRONTEND_HTML_PAGE_TITLE=$FRONTEND_HTML_PAGE_TITLE" >> .env
          echo "FRONTEND_HTML_OG_DESCRIPTION=$FRONTEND_HTML_OG_DESCRIPTION" >> .env
          echo "FRONTEND_HTML_OG_IMAGE=$FRONTEND_HTML_OG_IMAGE" >> .env
          echo "FRONTEND_HTML_OG_TITLE=$FRONTEND_HTML_OG_TITLE" >> .env
          echo "FRONTEND_HTML_OG_URL=$FRONTEND_HTML_OG_URL" >> .env
          echo "FRONTEND_HTML_BODY_CLASS=$FRONTEND_HTML_BODY_CLASS" >> .env
          echo "FRONTEND_SENTRY_DSN=$FRONTEND_SENTRY_DSN" >> .env
          echo "FRONTEND_PLAUSIBLE_DOMAIN=$FRONTEND_PLAUSIBLE_DOMAIN" >> .env
          echo "FRONTEND_STATIC_URL=$FRONTEND_STATIC_URL" >> .env
          echo "HOST_DATA=/home/github-runner/podman-volumes" >> .env
          echo "AML_ALLOWED_HOSTS=$AML_ALLOWED_HOSTS" >> .env
          echo "AML_CORS_ORIGIN_WHITELIST=$AML_CORS_ORIGIN_WHITELIST" >> .env
          echo "CSRF_TRUSTED_ORIGINS=$CSRF_TRUSTED_ORIGINS" >> .env
          echo "AML_DEBUG=$AML_DEBUG" >> .env
          echo "AML_LOCATION_PROVIDER=$AML_LOCATION_PROVIDER" >> .env
          echo "AML_SUBPATH=$AML_SUBPATH" >> .env
          echo "DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE" >> .env
          echo "SENTRY_ENVIRONMENT=$SENTRY_ENVIRONMENT" >> .env
          echo "SQL_DATABASE=$SQL_DATABASE" >> .env
          echo "SQL_HOST=$SQL_HOST" >> .env
          echo "SQL_PORT=$SQL_PORT" >> .env
          echo "SQL_USER=$SQL_USER" >> .env
          echo "SQL_PASSWORD=$SQL_PASSWORD" >> .env
          echo "AML_SECRET_KEY=$AML_SECRET_KEY" >> .env
          echo "SENTRY_DSN=$SENTRY_DSN" >> .env
          echo "FRONTEND_SENTRY_DSN=$FRONTEND_SENTRY_DSN" >> .env
          echo "DJANGO_SUPERUSER_USERNAME=$DJANGO_SUPERUSER_USERNAME" >> .env
          echo "DJANGO_SUPERUSER_PASSWORD=$DJANGO_SUPERUSER_PASSWORD" >> .env
          echo "DJANGO_SUPERUSER_EMAIL=$DJANGO_SUPERUSER_EMAIL" >> .env
