name: Update .env file

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      environment:
        required: true
        type: string

jobs:
  write-env-file:
    name: Update .env file on server from GitHub environment
    runs-on: ${{ inputs.runner }}
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
      - name: Dump environment information
        env:
          # Variables
          AML_ALLOWED_HOSTS: ${{ vars.AML_ALLOWED_HOSTS }}
          AML_CORS_ORIGIN_WHITELIST: ${{ vars.AML_CORS_ORIGIN_WHITELIST }}
          CSRF_TRUSTED_ORIGINS: ${{ vars.CSRF_TRUSTED_ORIGINS }}
          AML_DEBUG: ${{ vars.AML_DEBUG }}
          AML_LOCATION_PROVIDER: ${{ vars.AML_LOCATION_PROVIDER }}
          AML_SUBPATH: ${{ vars.AML_SUBPATH }}
          DJANGO_SETTINGS_MODULE: ${{ vars.DJANGO_SETTINGS_MODULE }}
          SENTRY_ENVIRONMENT: "tunetwins"
          SQL_DATABASE: ${{ vars.SQL_DATABASE }}
          SQL_HOST: ${{ vars.SQL_HOST }}
          SQL_PORT: ${{ vars.SQL_PORT }}
          FRONTEND_API_ROOT: ${{ vars.FRONTEND_API_ROOT }}
          FRONTEND_EXPERIMENT_SLUG: ${{ vars.FRONTEND_EXPERIMENT_SLUG }}
          FRONTEND_AML_HOME: ${{ vars.FRONTEND_AML_HOME }}
          FRONTEND_HTML_PAGE_TITLE: ${{ vars.FRONTEND_HTML_PAGE_TITLE }}
          FRONTEND_HTML_FAVICON: ${{ vars.FRONTEND_HTML_FAVICON || '' }}
          FRONTEND_LOGO_URL: ${{ vars.FRONTEND_LOGO_URL || '' }}
          FRONTEND_HTML_OG_DESCRIPTION: ${{ vars.FRONTEND_HTML_OG_DESCRIPTION || '' }}
          FRONTEND_HTML_OG_IMAGE: ${{ vars.FRONTEND_HTML_OG_IMAGE || '' }}
          FRONTEND_HTML_OG_TITLE: ${{ vars.FRONTEND_HTML_OG_TITLE || '' }}
          FRONTEND_HTML_OG_URL: ${{ vars.FRONTEND_HTML_OG_URL || '' }}
          FRONTEND_HTML_BODY_CLASS: ${{ vars.FRONTEND_HTML_BODY_CLASS || '' }}
        
          # Secrets
          AML_SECRET_KEY: ${{ secrets.AML_SECRET_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SQL_USER: ${{ secrets.SQL_USER }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
          FRONTEND_SENTRY_DSN: ${{ secrets.FRONTEND_SENTRY_DSN }}
          DJANGO_SUPERUSER_USERNAME: ${{ secrets.DJANGO_SUPERUSER_USERNAME }}
          DJANGO_SUPERUSER_PASSWORD: ${{ secrets.DJANGO_SUPERUSER_PASSWORD }}
          DJANGO_SUPERUSER_EMAIL: ${{ secrets.DJANGO_SUPERUSER_EMAIL }}
        run: 